/* good practice is to start designing with a border
around all div's, and a light background color 
div {
	border-style: solid;
	border-width: 1px;
}
*/

body {
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}

/* --- Header rules -- */
.top_nav {
	background-color: #fff
}

.content {
	padding: 0px 15px;
	width: 970px;
	/* this makes the content centered */
	margin: 0 auto;
}

.top_nav .links {
	float: right;
	margin-top: 2em;
}

.top_nav .links > li {
	display: inline;
	padding-left: 3em;
}

.top_nav .links > li:hover {
	font-weight: 600;
	color: #4c5058;
	cursor: pointer;
	border-bottom-color: #4c5058;
}


/* ask kyle about this, when to use > or spaces */
.top_nav .links > .active {
	color:#4c5058;
	font-weight: 600;
}

/*-----------------------------*/

/*--------Section rules ------*/

.introduction {
	background-image: url("..\\images\\code.jpg");
	background-position: 0 bottom;
	background-size: cover;
	height: 600px;
}

.introduction > .content {
	color: white;
	text-align: center;
}

.introduction > .content h1 {
	font-weight: 300;
}

.introduction > .content h3 {
	font-weight: 400;
}

.introduction > .content > .buttons button {
	padding:16px, 26px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 4px;
	width:155px;
	height:57px;
	color:white;
	cursor: pointer;
	outline: none;
	display: inline;
}

.learn_button {
	background-color: #d9400e;
	text-align: center;
	text-shadow:none;
	border: 1px solid transparent;
}

.watch_button {
	background-color: transparent;
	border: none;
	overflow: hidden;
}

.play_button {
	padding-left: 1em;
	padding-right: -2.0em;
}