/* good practice is to start designing with a border
around all div's, and a light background color 
div {
	border-style: solid;
	border-width: 1px;
}
*/

body {
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}

/* rules used for all buttons */
.content button {
	padding:16px, 26px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 4px;
	width:155px;
	height:57px;
	color:white;
	cursor: pointer;
	outline: none;
	text-align: center;
}

/* --- Header rules -- */
.top_nav {
	background-color: #fff
}

.content {
	padding: 0px 30px;
	width: 970px;
	/* this makes the content centered */
	margin: 0 auto;
}

.top_nav .links {
	float: right;
	margin-top: 2em;
}

.top_nav .links > li {
	display: inline;
	padding-left: 3em;
}

.top_nav .links > li:hover {
	font-weight: 600;
	color: #4c5058;
	cursor: pointer;
	border-bottom-color: black;
}

.top_nav .links > .active {
	color:#4c5058;
	font-weight: 600;
}

/*--------Introduction Section rules ------*/

.introduction {
	background-image: url("..\\images\\code.jpg");
	background-size: cover;
	height: 600px;
}

.introduction > .content {
	color: white;
	text-align: center;
}

.introduction > .content h1 {
	font-weight: 300;
}

.introduction > .content h3 {
	font-weight: 400;
}

.learn_button {
	background-color: #c1390d;
	border: 1px solid transparent;
}

.watch_button {
	background-color: transparent;
	border: none;
	overflow: hidden;
}

.play_button {
	padding-left: 1em;
	padding-right: -2.0em;
}

/*----------What is Karma section ---------*/
.what_is_karma {
	background-image: url("..\\images\\buy-now-bg.jpg");
	background-size: cover;
	height: 900px;
	margin-bottom: 5em;
}

.what_is_karma .content {
	max-width:323px;
	padding-top:6em;
	margin-left: 6em;
}


.what_is_karma .content p{
	font-weight: 400;
	font-size: 18px;
}

.what_is_karma .content h3{
	color:#f05826
}

.what_is_karma button{
	background-color: #d9400e;
	border: 1px solid transparent;
}

.what_is_karma button:hover{
	background-color:#a3300a;
}

/*---- Cases Section styles --*/
.cases {
	margin-bottom: 5em;
}

.cases > .content {
	text-align: center;
	/*width:100%;*/
	padding-bottom: 4em;
	color:#4c5058;
}

.cases > .content h2{
	padding-bottom: 2em;
}

.cases .devices {
	width:30%;
	display: inline-block;
	box-sizing: border-box;
	height: 6em;
}

/*-----------Links-----------------*/

.links {
	text-align: center;
}

.links .list {
	display: inline-block;
	list-style-type: none;
	text-align: left;
	padding-right: 6em;
	margin-top: 0em;
}

.links a:link{
	color:#838994;
	text-decoration: none;
}

.links a:hover{
	color:#c1390d;
}

.links .list .list_title {
	font-weight: 600;
}

.links .social_media_links > li {
	display: inline-block;
	margin-right: 4em;
	border:1px solid gray;

	padding:0.3em;

	width: 50px;
	
				/* x, y */
	border-radius: 50%;
}